[submodule "SpotifyPlaylist"]
	path = SpotifyPlaylist
	url = https://github.com/sthbr82/Spotify-Playlist-Project.git
[submodule "day-71-starting-files-blog-for-deployment"]
	path = day-71-starting-files-blog-for-deployment
	url = https://github.com/sthbr82/Blog.git
[submodule "Amazon_Price_Tracker"]
	path = Amazon_Price_Tracker
	url = https://github.com/sthbr82/Amazon-Price-Tracker
[submodule "flight-deals"]
	path = flight-deals
	url = https://github.com/sthbr82/FlightDeals.git
